*{padding:0;margin0}
html{font-size: 100px;}
html,body{height:100%; background-color: #eee; color: #666}
a{text-decoration:none}
/*login*/
.login{padding:20px;  height: 100%; background:url(../images/bg.jpg);background-size: cover;}
.login .logincnt{position: absolute;top:50%;left:50%; margin-top: -1.2rem;margin-left:-1.4rem;}
.login .inputLogin{outline:0;background-color: rgba(255,255,255,0.2); padding: 0 0.4rem;color: #000; border: none; transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;width:100%; color:#fff;}
.login .icon{ background: url(../images/icon.png) no-repeat; display: inline-block;position: absolute;top: 0; background-size: 0.335rem 1.36rem}
.login .icon1{ background-position: 0 -0.08rem ; width:0.33rem; height: 0.26rem;  left: 0.05rem; top: 0.1rem}
.login .icon2{ background-position: 0 -0.42rem ; width:0.33rem; height: 0.26rem;  right: 0.05rem; top: 0.1rem}
.login .icon3{ background-position: 0 -0.68rem ; width:0.33rem; height: 0.26rem;  left: 0.05rem; top: 0.1rem}
.login .icon4{ background-position: 0 -1rem ; width:0.33rem; height: 0.26rem;  right: 0.05rem; top: 0.1rem}
.login .form-group{ position: relative; }
.login .btn-login{background-color: rgba(255,255,255,0.6);color: #6ccdc2}

.icon2{ background: url(../images/icon2.png) no-repeat; display: inline-block;position: absolute;top: 0;z-index: 3; background-size: 1.0rem 1.0rem}
.bg-green{background-color: #6ccdc2}
.navbar-fixed-top,.navbar-fixed-bottom{z-index:20;}
.navbar{height: 0.44rem; line-height:0.44rem; min-height: 0.44rem}
.navbar h4{color: #fff; font-size:0.16rem; color:#fff;margin:0;line-height: 0.44rem; }
.navbar-fixed-bottom ul{background-color:#fff; display: box; display: -webkit-box;box-orient:horizontal;-webkit-box-orient:horizontal;border-top:1px solid #ddd; }
.navbar-fixed-bottom li{font-size:0.14rem;  -webkit-box-flex:1; box-flex:1; text-align: center; }
.navbar-fixed-bottom li a{padding:0; color: #666}
.navbar-fixed-bottom li a.active{display:block;background-color:#f5f5f5;color: #6ccdc2}
.container-fluid{position:absolute;top:0.44rem; bottom:0.4rem;width:100%;overflow: auto;-webkit-overflow-scrolling:touch; padding: 0; background-color:#fff;}
/*list*/
.shop-list .icon-search{width:0.16rem; height: 16px; position: absolute;right:30px; top:15px;z-index: 30;background-position: -42px -4px}
/*.shop-list .container-fluid{padding-top:0.5rem;}*/
.shop-list .img-rounded{width:1.05rem;}
.shop-list .row{border-bottom:1px solid #eee;margin:0;}
.shop-list p{font-size:12px; color: #999}
.shop-list .d-price{position:relative;}
.shop-list .buy-car{width: 25px;height: 25px;position: absolute;z-index:10;background-color: #f02b2b;border-radius: 2px;right: 0;top: 0;}
.shop-list .icon_buy{background-position:-3px -2px;margin-top:2px;margin-left:2px; width:20px; height: 20px}
.shop-list .price-num{font-size:14px; color: #f02b2b; font-weight: bold;line-height: 0.3rem}
.shop-list .search{ padding:0.1rem 0.15rem; background-color: #eee;position: absolute; top: 44px;z-index: 2;width: 100%;}
.shop-list .search input{border-radius: 0.25rem; -webkit-border-radius:0.25rem;-moz-border-radius:0.25rem;}
/*cart*/
/*.shop-cart input[type=checkbox]{ display:none;}
.shop-cart label{border: 1px solid #99a0b2;width: 18px;height: 18px;background-color: #fff;display: inline-block;border-radius: 50%;*/
/*position: relative;margin-left: 8px;}*/
.shop-cart h4{font-size: 16px;font-weight: 700; }
.shop-cart p{font-size:12px;}
.shop-cart .settlement{width:100%; height:0.4rem; line-height: 0.4rem; position:fixed; z-index:2; bottom:0.44rem; left:0; background-color:#fff; border-top:1px solid #ccc; background-color:#f2f2f2}
.shop-cart .total_txt{margin-left:0.1rem; font-size:0.16rem; font-weight:700; }
.shop-cart .total_num{font-size:0.14rem; font-weight:700; color:#bf392a;}
.shop-cart .oconfirm{font-size:0.14rem; background-color:#bf392a;color:#fff; font-weight:700; text-align:center;display: block;}
.shop-cart .count{width: 100px; float: right;margin-right:0.1rem;}
.shop-cart .price-num{line-height: 0.3rem;font-size:14px; color: #f02b2b;font-weight: bold;}
.shop-cart .input-group-addon{cursor: pointer;}
.shop-cart .cart-edit {line-height: 0.3rem; height: 0.3rem;border-bottom:1px solid #eee; margin:0;}
.shop-cart .cart-edit .edit-txt {text-align:right;}
.shop-cart .select-one{margin-left: 0.17rem;}
.shop-cart .nolist{position: absolute;top:50%; left: 50%;margin-left:-25%;margin-top:-25%}
.shop-cart .nolist img{width:77px;display: block;margin:0 auto;}
.shop-cart .nolist p{font-size: 14px;text-align: center;line-height:0.4rem;color: #b2aea5;}
/*set*/
.shop-set .list li{position:relative;list-style:none;padding-left: 0.15rem; line-height: 0.4rem; background-color: #fff; border-top: 1px solid #ddd; border-bottom: 1px solid #eee; margin-top: -1px; }
.shop-set .list li p{margin:0;}
.shop-set .list .right{ position: absolute;top: 0; line-height: 0.4rem; display: inline-block;right: 0.3rem;}
.shop-set .icon-right{width:0.18rem; height: 0.28rem; display: inline-block; background-position: -0.28rem 0;margin:10px 0 0 10px ;}
.shop-set .pic{width:1.0rem; height: 1.0rem; background-color: #fff; margin:0.1rem auto; display: block; border-radius:50%;}
.shop-set .pic img{ display: block; width: 100%; height: 100% }
.shop-set input[type=file]{display: none;}
.shop-set .shadow{position: fixed; height: 100%; width: 100% ;background-color:rgba(0,0,0,0.5);}
.shop-set .rename{width: 300px; height: auto;margin-left: -1.5rem; margin-top: -1.0rem; position: absolute; top: 50%; left: 50%;background-color: #fff;z-index:4;}
.shop-set .dialog-header h4{margin:0;font-size: 0.14rem; line-height: 0.4rem; border-bottom: 1px solid #eee; padding-left: 0.1rem;font-weight: bold;background-color: #eee }
.shop-set .dialog-footer{/*position: absolute;bottom: 0; width: 100%;*/}
.shop-set .dialog-cnt{padding:0.1rem;}
/*detail*/
.shop-detail .detail-list li{padding:0.05rem 0.1rem;line-height:0.3rem;border-bottom: 1px solid #ddd;}
.shop-detail .detail-list h1{font-size:0.16rem; font-weight: bold;margin:0;}
.shop-detail .detail-list .row{margin:0;}
.shop-detail .col-xs-6{padding:0;}
.shop-detail .col-xs-6:last-of-type{text-align:right;}
.shop-detail .carousel{ height: 2.0rem; text-align: center;background-color: #eee; }
.shop-detail .carousel img{ height: 100%; width: auto; }
/*地址*/
.shop-addres .container-fluid{background-color: transparent;}
.shop-addres .list{background-color: #fff;margin-bottom: 0.1rem}
.shop-addres .list label.active{color: red;}
.shop-addres .title{position: relative;border-bottom: 1px solid #eee;}
.shop-addres .title h4{padding-left:0.15rem;margin: 0; line-height: 0.4rem; font-size: 0.14rem; font-weight: bold;}
.shop-addres .title .tel {position:absolute;right: 0.15rem;top:0; display: inline-block;line-height: 0.4rem}
.shop-addres .cnt{padding:0.15rem;border-bottom: 1px solid #eee;}
.shop-addres .bottom{padding:0.15rem; position: relative;}
.shop-addres .btn-group{position:absolute;right: 0.05rem;top:0.1rem; }
.shop-addres .btn-group button{margin:0 0.1rem;}
/*添加地址*/
.shop-addlist .container-fluid{background-color:transparent;}
.shop-addlist .form-group{display:-webkit-flex;background-color:#fff;-webkit-box-align:center;-webkit-align-items:center; text-align:left;border-bottom: 1px solid #eee;margin-bottom:10px;padding:0.15rem;}
.shop-addlist label{width:0.65rem;color: #000; font-weight: normal; font-size: 0.12rem; line-height:0.25rem}
.shop-addlist input,.shop-addlist textarea{-webkit-box-shadow:none;box-shadow:none;color:#999;-webkit-flex:1;-webkit-box-flex:1;border:0 none;}
