<!DOCTYPE html>
<html ng-app="shopping">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8" >
	<title>登录</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="js/ng-file-upload.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body ui-view>
<div class="login" ng-controller="loginCtrl">
 <!-- <img src=""  class="img-rounded" height="100"> -->
 <form name="myForm" class="logincnt" ng-submit="submitForm()" novalidate>
 	<div class="form-group">
 		<span class="icon icon1"></span>
 		<label for="username" class="sr-only">账号:</label>	    			
		<input type="text" name="username" id="username" class="input-lg inputLogin" ng-model="user.username" required> 
	
		<span class="icon icon2"></span>		
 		<p class="text-danger" ng-show="myForm.username.$error.required&&myForm.username.$touched">用户名不能为空</p>
 	</div>
 	<div class="form-group">	 
 		<span class="icon icon3"></span>	  
 		<label for="password" class="sr-only">密码：</label> 		
 		<input type="password" name="password" id="password" class="inputLogin input-lg" ng-model="user.password" ng-minlength="4" ng-maxlength="10" required>

 		<span class="icon icon4"></span>	
 		 <p class="text-danger" ng-show="myForm.password.$error.required&&myForm.password.$touched">密码不能为空</p>  
 		<p class="text-danger" ng-show="myForm.password.$error.pattern&&myForm.password.$touched">只能是数字、字母和下划线</p>	
 		<p class="text-danger" ng-show="myForm.password.$error.minlength||myForm.password.$error.maxlength">密码为4-10位</p>	
 	</div>
 	<div class="form-group">
 		<button type="submit" class="btn btn-block btn-lg btn-login" ng-disabled="myForm.$invalid">登录</button>
 	</div>
 </form>
 </div>

</body>
</html>