<div class="shop-list" >  
	<runoob-directive></runoob-directive>
	<span class="icon2 icon-search" ng-click="showSearch()"></span>
	<div class="search" ng-show="searchicon">
		<input type="text" class="form-control" ng-model="data.title" />
	</div>
	<div class="container-fluid" ng-style="addstyle">
		
		<div class="row" ng-repeat=" v in list |filter:data" >
			<div class="col-xs-4" ng-click="detailList($index)">
				<img class="img-rounded" ng-src="{{v.img}}">
			</div>
			<div class="col-xs-8">
			  <div ng-click="detailList($index)">
				<h4 ng-bind="v.title"></h4>
				<p ng-bind="v.cnt"></p>
			  </div>
			  <p class="d-price">
	               <span class="price-num" ng-bind="v.price|currency:'￥'"></span>
	               <span class="buy-car" ng-click="buy(v,$index)">
	               	<i class="icon2 icon_buy"></i>
	               </span>
           	  </p>
			</div>
		</div>
	</div>
	<bottomDirective></bottomDirective>
</div>
